---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}</title>
  <subtitle>Technical blog covering full-stack development, systems administration, and IT.</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.name }}</name>
    <email>{{ site.email }}</email>
  </author>
  {%- for post in collections.posts | reverse %}
  <entry>
    <title>{{ post.data.title | escape }}</title>
    <link href="{{ post.url | absoluteUrl(site.url) }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ post.url | absoluteUrl(site.url) }}</id>
    {% if post.data.description %}
    <summary>{{ post.data.description | escape }}</summary>
    {% endif %}
    <content type="html"><![CDATA[{{ post.templateContent | htmlToAbsoluteUrls(site.url) | safeCdata | safe }}]]></content>
  </entry>
  {%- endfor %}
</feed>
