---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% set today = buildDate %}
  <url>
    <loc>https://levihuff.net/</loc>
    <lastmod>{{ today }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://levihuff.net/about/</loc>
    <lastmod>{{ today }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://levihuff.net/projects/</loc>
    <lastmod>{{ today }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://levihuff.net/blog/</loc>
    <lastmod>{{ today }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://levihuff.net/contact/</loc>
    <lastmod>{{ today }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% for post in collections.posts %}
  <url>
    <loc>https://levihuff.net{{ post.url }}</loc>
    {% if post.date %}<lastmod>{{ post.date | dateYMD }}</lastmod>{% endif %}
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}
</urlset>
